body {
    /* font-family: 'Edu NSW ACT Foundation', cursive; */
    font-family: 'Merriweather', sans-serif;
}

.bungkus {
    width: 60%;
    height: 60%;
    margin: auto;
}

.item img {
    box-shadow: 0px 5px 20px rgb(0 0 0 / 30%);
    border-radius: 5px;
}

.box-yellow {
    border-radius: 10px;
    background-color: #fff1ad;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90px;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    padding-top: 10px;
}

.box-yellow p {
    font-size: 1rem;
}

.box-yellow h2 {
    font-size: 1.5rem;
}

.box-orange {
    border-radius: 10px;
    background-color: #ff9900;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90px;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    padding-top: 10px;
}

.box-orange p {
    font-size: 1rem;
}

.box-orange h2 {
    font-size: 1.5rem;
}

.box-dark {
    border-radius: 10px;
    background-color: #2C3333;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90px;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    padding-top: 10px;
}

.box-dark p {
    font-size: 1rem;
}

.box-dark h2 {
    font-size: 1.5rem;
}

.nav-link a:hover {
    color: #fff1ad !important;
}

.blink {
    color: white;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}